{% load widget_tweaks %}
<!Doctype html>
    <head>
        <!-- Import bootstrap and Jquery  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Import of External CSS and JS ends -->

        {% load staticfiles %}
        <link href="{% static 'notes/note.css'%}" rel="stylesheet" type="text/css">
        <div class="mt-2 ml-3" style="font-family:'Lobster',cursive;"><h1>Note Taking App</h1></div>
    </head>
    <body>
    <div class="row container-fluid p-0 m-0">

        {% for note in noteList %}
        <div class="col-sm-12 col-md-4 col-lg-3 wrapper clearfix uno">
                <aside class="note-wrap note-green">
                    <h4>{{ note.text }}</h4><br>
                    <span class="text-muted">{{ note.created }}</span>
                </aside>
        </div>
        {% endfor %}

        <div class="col-sm-12 col-md-4 col-lg-3 wrapper clearfix uno">
                <aside class="note-wrap note-green" style="border:1px #677558 solid;">
                    <form method="POST" action="">
                        {% csrf_token %} 
                        <center> Add a note</center>
                        {% render_field form.text class="form-control" placeholder="Enter text" style="max-height:150px;"%}
                        <input class="btn btn-outline-primary mt-2" type="submit" name="Submit">
                    </form>
                </aside>
        </div>

    </body>
</html>